@import "tailwindcss";

@theme {
    --color-azul: #1C2D37;
    --color-verde: #3A5F43;
    --color-terracota: #D97450;
    --color-crema: #F4EFE6;

    /* Fuente */
    --font-poppins: Poppins, sans-serif;

    --animate-marquee: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}